@font-face {
  font-family: Roboto-Regular;
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Black;
  src: url(fonts/Roboto-Black.ttf);
}

.header-top{
  background-color: #FF2A6B;
  overflow: hidden;
  padding: 18px 0;
}

.header-social{
  float: left;
}

.header-social a{
  color: #fff;
  margin-right: 35px;
}

.user-panel{
  float: right;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.user-panel a{
  color: #fff;
}

.header-bottom{
  padding: 38px 0px;
}

.header-search{
  float: right;
  margin-top: 15px;
}

.header-search a{
  height: 37px;
  width: 34px;
  border: none;
  background-color: #ff2a6b;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  padding-top: 7px;
}

.main-menu{
  float: right;
}

.main-menu li{
  display: inline-block;
}
.main-menu li a{
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  color: #474747;
  padding: 25px 20px;
}

.main-menu li:hover a{
  color: #ff2a6b;
}



.carousel-dark .carousel-control-next-icon{
  filter: none!important;
  cursor: pointer;
}


.carousel-control-next{
  opacity: 1;
  text-align: center;
}

.carousel-control-next-icon{
  width: 20%;
  height: 10%;
  border-radius: 48%;
  border: 2px solid red;
  color: red;
}

.main_part{
  overflow: hidden;
}

.hs-text{
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  margin-bottom: 82px;
}

.hs-title-1{
  font-size: 72px;
}

.hs-title-1, .hs-title-2, .hs-title-3{
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}

.hs-title-1 span{
  padding: 0 28px;
  background: #ff2a6b;
  display: inline-block;
  border-radius: 5px;
  transition: 0.4s
}
.hs-title-2 span{
  padding: 5px 28px;
  background: #fdc856;
  display: inline-block;
  font-size: 48px;
  border-radius: 5px;
  transform: rotate(-6deg);
  left: 120px;
  top: -15px;
  transition: 0.4s
}

.hs-title-3 span{
  padding: 10px 28px;
  background: #bdde64;
  font-size: 36px;
  display: inline-block;
  border-radius: 5px;
  transform: rotate(3deg);
  top: -15px;
  transition: 0.4s
}


.right_part{
  padding: 16px 88px;
  position: relative;
  margin-left: -35px;
  z-index: 2;
  background-color: #ff2a6b;
}

.right_part ul li:nth-child(1)::after{
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  left: 79px;
  top: 64px;
  background-image: url(images/download.png);
}
.right_part ul li:nth-child(2)::after{
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  left: 79px;
  top: 105px;
  background-image: url(images/download.png);
}

.right_part ul li:nth-child(3)::after{
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  left: 79px;
  top: 145px;
  background-image: url(images/download.png);
}
.right_part ul li:nth-child(4)::after{
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  left: 79px;
  top: 186px;
  background-image: url(images/download.png);
}

.section_3{
  padding-bottom: 96px;
}

.at-style::before{
  position: absolute;
  content: "";
  width: 160px;
  height: 123%;
  left: -74px;
  top: 20px;
  background: #bdde64;
  transform: rotate(-25deg);
  z-index: -1;
}
.at-style::after{
  position: absolute;
  content: "";
  width: 160px;
  height: 123%;
  left: -71px;
  top: -20px;
  background: #fdc856;
  transform: rotate(-25deg);
  z-index: -1;
}

.add-text::after{
  position: absolute;
  content: "";
  width: 160px;
  height: 135%;
  left: -57px;
  top: -48px;
  background: #ff2a6b;
  transform: rotate(-25deg);
  z-index: -1;
}

.title1{
  position: relative;
}

.title1::after{
  position: absolute;
  content: "";
  width: 56px;
  height: 5px;
  left: 0;
  top: 0;
  background: #ff2a6b;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.recipe{
  max-width:100%;
  vertical-align: middle;
  position: relative;
}

.recipe .recipe-info-warp{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-right: 80px;
  overflow: hidden;
}

.recipe .recipe-info{
  padding: 17px 25px 15px;
  background: #ff2a6b;
}

.recipe-info h3{
  font-size: 15px;
  color: #fff;
}

.recipe-info i{
  font-size: 11px;
  color: #fbb710;
  position: relative;
}

.recipe-info::after{
  position: absolute;
  content: "";
  width: 53px;
  height: 126%;
  right: 54px;
  bottom: 0;
  background: #ff2a6b;
  -webkit-transform: rotate(27deg);
}

.rating .is-fade{
  color: #e0e3e4;
}

.section_4{
  padding: 80px 0;
  background-color: #f4f7fb;
}

.sec4_title{
  margin-top: 15px;
  margin-bottom: 52px;
  position: relative;
}

.sec4_title::after{
  content: '';
  width: 60px;
  height: 5px;
  background-color: red;
  position: absolute;
  top: -15px;
  left: 0px;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.recipe_list ul li{
  margin-bottom: 22px;
}

.recipe_list .img_list{
  background-image: url("images/1.jpg");
  width: 77px;
  height: 77px;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.recipe_list .img_list2{
  background-image: url("images/2.jpg");
  width: 77px;
  height: 77px;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.recipe_list .img_list3{
  background-image: url("images/3.jpg");
  width: 77px;
  height: 77px;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.recipe_list .img_list4{
  background-image: url("images/4.jpg");
  width: 77px;
  height: 77px;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.recipe_list .img_list5{
  background-image: url("images/4.jpg");
  width: 77px;
  height: 77px;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.list_info{
  margin-left: 95px;
}

.list_info span{
  color: #ff2a6b;
  font-size: 12px;
  font-weight: 500;
}
.list_info h6{
  color: darkslategray;
  font-size: 16px;
  font-weight: 500;
}

.list_info .rating{
  font-size: 12px;
}

.list_info .rating i{
  color: #FF2A6B;
}
.list_info .rating i:nth-child(5){
  color: gainsboro;
}

.text-1{
  padding: 0px 17px;
}
.text-2{
  padding: 0px 17px;
  margin-top: 25px;
}
.text-3{
  padding: 0px 17px;
}
.text-4{
  padding: 0px 17px;
}

.card-info{
  position: relative;
}

.read-more{
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: #FF2A6B;
  bottom: 0px;
  right: 0px;
}

.read-more i{
  color: #fff3cd;
  text-align: center;
  margin-left: 15px;
  margin-top: 10px;
}

.review-section{
  padding: 65px 0;
  background: #fdc856;
}

.body-pad{
  padding: 16px 37px;
}

.owl-nav, .owl-dots{
  display: none!important;
}

.footer-section{
  padding: 60px 70px 50px;
  background-image: url("images/footer-bg.jpg");
  background-size: cover;
  background-position: center;
}

.footer-social{
  margin-top: 40px;
}

.footer-social a{
  color: #b8b8b8;
  font-size: 14px;
  margin-right: 30px;
}

.footer-social a:hover{
  color: #FF2A6B;
}

.footer-menu {
  display: inline-block;
}

.footer-menu li{
  display: inline-block;
  padding: 10px 18px;
}

.footer-menu li a{
  color: #2c3034;
  font-weight: bold;
}

.footer-menu li a:hover{
  color: #FF2A6B;
}

.copyright i{
  color: #FF2A6B;
}